{% extends 'base.html' %}
{% block content %}
    <div class="container text-white">
        <h1 class="text-center mb-5">Music</h1>

        {% for i in items %}
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ i.trackid }}&color=%230d090a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/{{ i.author }}" title="{{ i.author }}" target="_blank" style="color: #cccccc; text-decoration: none;">{{ i.author }}</a> · <a href="{{ i.link }}" title="{{ i.title}}" target="_blank" style="color: #cccccc; text-decoration: none;">And now</a></div>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
{% endblock %}