{% extends 'base.html' %}
{% block content %}
    <div class="container text-white">
        <h1 class="text-center my-5">Usage example</h1>

        <dev class="d-flex justify-content-center">
            <a class="text-white btn btn-secondary m-1" href="{{ url_for('view_music', userid=1252416922) }}">SoundCloud Feed</a>
            <a class="text-white btn btn-secondary m-1" href="{{ url_for('view_gallery', username="gann4life", gallery=76971049) }}">digital art gallery</a>
            <a class="text-white btn btn-secondary m-1" href="{{ url_for('view_gallery', username="gann4life", gallery=76866168) }}">3d renders gallery</a>
            <a class="text-white btn btn-secondary m-1" href="{{ url_for('view_gallery', username="gann4life", gallery=76858399) }}">sketches gallery</a>
            <a class="text-white btn btn-secondary m-1" href="{{ url_for('view_gallery', username="gann4life", gallery=76862697) }}">toribash gallery</a>
            <a class="text-white btn btn-secondary m-1" href="{{ url_for('view_gallery', username="gann4life", gallery=77055467) }}">free assets gallery</a>
            <a class="text-white btn btn-secondary m-1" href="{{ url_for('view_gallery', username="gann4life", gallery=76971035) }}">photography gallery</a>
        </dev>
    </div>
{% endblock %}